:root {
  --default-font: GilroyFont;
}

@font-face {
  font-family: GilroyFont;
  src: url(../assets/fonts/Gilroy-Light.otf);
}

body {
  margin: 0;
  font-family: var(--default-font), -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
